
 <!-- <nav class="Navbar">
    <div>
        <a class="welcome" href="">Welcome</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-h1" routerLink="">Home</a>
                <a class="nav-h2" routerLink="/addprofile" >Addprofile</a>
            </ul>
        </div>
    </div>
 </nav>
 -->

 <nav class="nav">
    <div>
        <a class="welcome">welcome</a>
        <ul class="navbar">
            <a href="" class="nav-h2" routerLink="/addprofile">Addprofile</a>

        </ul>

    </div>

 </nav>
 <router-outlet></router-outlet>
